<div class="content fadeIn">
    <h1>Contacto</h1>
    <p>A continuación unos links de interés. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <div class="card-container">
        <a class="card" style="background-color: grey; color: black" target="_blank" href="https://github.com/mateosepulveda">
            <span class="icon">
                <img src="assets/github-logo.svg">
            </span>
            GITHUB
        </a>
        <a class="card" style="background-color: #0a66c2; color: black" target="_blank" href="https://cl.linkedin.com/">
            LINKEDIN
        </a>
    </div>
</div>