.content {
  margin: 250px;
  display: flex;
  flex-direction: column;
}

.link-container {
  display: flex;
  margin: 0 auto;
}

.link {
  position: relative;
  width: 250px;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  border-radius: 5px;
  overflow: hidden;
}

.link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.link:hover::before {
  background-color: rgba(62, 189, 201, 0.6);
}

.link img {
  height: 100%;
}