<div class="content fadeIn">
    <h1>Sobre mí</h1>
    <p>Soy un Ingeniero Civil Informático, Licenciado en Ciencias de la Computación de la Universidad de Santiago de Chile. Me interesan las áreas de <b>desarrollo de software</b>, <b>desarrollo web</b> y <b>bases de datos</b>. Puede revisar algunos de mis proyectos en la <b><a (click)="navigateProjectsList()">página de proyectos</a></b>.</p>

    <h3>Habilidades técnicas</h3>
    <div>
        <ul>
            <li><b>Idiomas:</b> Español nativo, Inglés C1</li>
            <li><b>Lenguajes:</b> HTML, CSS, Javascript, Java, Python, C, C++, SQL, MATLAB</li>
            <li><b>Frameworks:</b> Angular, Vue.js, Node.js, Express, Spring Boot</li>
            <li><b>Herramientas de desarrollo:</b> Git, Docker, VS Code, IntelliJ IDEA</li>
            <li><b>Bibliotecas:</b> Angular Material, JointJS, Highcharts</li>
            <li><b>Motores de base de datos:</b> MongoDB, MySQL, PostgreSQL</li>
        </ul>
    </div>
</div>