<div class="fade-in">
  <p class="hello">
    <span class="hello-line">Hola, soy&nbsp;</span><span class="hello-line">Mateo Sepúlveda</span>
  </p>
  <h3>Bienvenido a mi portafolio</h3>
  <div class="block">
    <img src="assets/man.png">
    <p>Soy un Ingeniero Civil Informático, Licenciado en Ciencias de la Computación de la Universidad de Santiago de Chile. Me interesan las áreas de <b>desarrollo de software</b>, <b>bases de datos</b> y <b>machine learning</b>. Puede revisar algunos de mis proyectos en la <b><a routerLink="/projects-list">página de proyectos</a></b>.</p>
  </div>

  <h3>Habilidades técnicas</h3>
  <div>
    <ul>
      <li><b>Idiomas:</b><br />Español nativo <span class="divider"><span class="divider">|</span></span> Inglés C1</li>
      <li><b>Lenguajes:</b><br />HTML <span class="divider">|</span> CSS <span class="divider">|</span> Javascript <span class="divider">|</span> Java <span class="divider">|</span> Python <span class="divider">|</span> C <span class="divider">|</span> C++ <span class="divider">|</span> SQL <span class="divider">|</span> MATLAB</li>
      <li><b>Frameworks:</b><br />Angular <span class="divider">|</span> Vue.js <span class="divider">|</span> Node.js <span class="divider">|</span> Express <span class="divider">|</span> Spring Boot</li>
      <li><b>Herramientas de desarrollo:</b><br />Git <span class="divider">|</span> Docker <span class="divider">|</span> VS Code <span class="divider">|</span> IntelliJ IDEA</li>
      <li><b>Bibliotecas:</b><br />Angular Material <span class="divider">|</span> JointJS <span class="divider">|</span> Highcharts</li>
      <li><b>Motores de base de datos:</b><br />MongoDB <span class="divider">|</span> MySQL <span class="divider">|</span> PostgreSQL</li>
      </ul>
  </div>
</div>