h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  margin: 150px;
}

.content:before {
  content: '';
  position: absolute;
  left: 100px;
  top: 0;
  bottom: 0;
  width: 2px;
  top: 50%;
  transform: translateY(-50%);
  height: 50vh;
  background-color: grey;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}