.content {
  margin: 250px;
  display: flex;
  flex-direction: column;
}

.date-and-navigate {
  margin-top: 10px;
  display: flex;
  color: #ffce32;
  justify-content: space-between;
}

.arrow {
  margin-right: 5px;
  font-size: 20px;
}

.slideshow {
  position: relative;
  height: 310px;
  display: flex;
  justify-content: center;
  user-select: none;
  -webkit-user-select: none;
}

.slideshow img {
  position: absolute;
  width: 100%;
  border-radius: 20px;
}

.image-fade-in {
  -webkit-animation-name: image-fade-in;
  animation-name: image-fade-in;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes image-fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes image-fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.image-fade-out {
  -webkit-animation-name: image-fade-out;
  animation-name: image-fade-out;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes image-fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes image-fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.dot-container {
  position: absolute;
  margin-top: 500px;
  z-index: 1;
}

.dot {
  margin: 0 2px;
  height: 15px;
  width: 15px;
  display: inline-block;
  background-color: white;
  border: 1px solid #2b2b2b;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.dot-active,
.dot:hover {
  background-color: #2b2b2b;
}

.caption {
  position: absolute;
  margin-top: 380px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #2b2b2b;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  z-index: 0;
}

.prev,
.next {
  position: absolute;
  margin-top: 230px;
  padding: 16px;
  color: white;
  font-weight: bold;
}

.prev {
  border-radius: 0 3px 3px 0;
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.technologies-and-links {
  margin-top: 240px;
  margin-bottom: 20px;
}

.navigate-projects-list-bottom {
  text-align: center;
}