<div class="content fadeIn">
    <h1>{{ project!.title }}</h1>

    <h3>Descripción</h3>
    <p>{{ project!.description }}</p>

    <!-- <div class="slider">
        <div>
            <div class="leftArrow">&lt;</div>
            <div class="rightArrow">&gt;</div>
        </div>
        <div class="slide" [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"></div>
    </div> -->

    <h3>Tecnologías</h3>
    <div>
        <ul>
            <li *ngFor="let technology of project!.technologies">{{ technology }}</li>
        </ul>
    </div>

    <div class="card-container">
        <a class="card" class="card" target="_blank" rel="noopener" style="color: black" (click)="navigateToProjectsList()">
            Volver a Proyectos
        </a>
    </div>
</div>