<div class="content fadeIn">
    <h1>{{ project!.title }}</h1>

    <p>{{ project!.description }}</p>

    <h3 *ngIf="project!.technologies.length > 0">Tecnologías</h3>
    <div>
        <ul>
            <li *ngFor="let technology of project!.technologies">{{ technology }}</li>
        </ul>
    </div>

    <div class="card-container">
        <a class="card" class="card" target="_blank" rel="noopener" style="color: black" (click)="navigateToProjectsList()">
            Volver a Proyectos
        </a>
    </div>
</div>