<div class="content fadeIn">
    <h1>{{ project!.title }}</h1>

    <!-- <div class="slider">
        <div>
            <div class="leftArrow">&lt;</div>
            <div class="rightArrow">&gt;</div>
        </div>
        <div class="slide" [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"></div>
    </div> -->

    <p>TAGS:</p>
    <div class="card-container">
        <a *ngFor="let tag of project!.tags" class="card" target="_blank" rel="noopener" style="color: black">
            {{ tag }}
        </a>
    </div>

    <div class="card-container">
        <a class="card" class="card" target="_blank" rel="noopener" style="color: black" (click)="navigateToProjectsList()">
            Back to projects
        </a>
    </div>
</div>