<div class="content fadeIn">
    <h1>Projects</h1>
    <p>These are some of the projects I have worked on:</p>

    <div class="card-container">
    <a class="card" target="_blank" rel="noopener" style="color: black" (click)="loadProjectNeurone()">
        NEURONE
    </a>
    <a class="card" target="_blank" rel="noopener" style="color: black">
        VehiclEYE
    </a>
    <a class="card" target="_blank" rel="noopener" style="color: black">
        Comisaría Virtual
    </a>
    <a class="card" target="_blank" rel="noopener" style="color: black">
        Sentiment Analyzer
    </a>
    <a class="card" target="_blank" rel="noopener" style="color: black">
        Hotel MINGESO
    </a>
    <a class="card" target="_blank" rel="noopener" style="color: black">
        TBD Series
    </a>
    </div>
</div>