<head>
  <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@1000&display=swap" rel="stylesheet">
</head>

<body>
  <div class="toolbar">
    <a (click)="showMenu()">
      <svg width="40" height="40" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill="#818181" fill-rule="evenodd" d="M19 4a1 1 0 01-1 1H2a1 1 0 010-2h16a1 1 0 011 1zm0 6a1 1 0 01-1 1H2a1 1 0 110-2h16a1 1 0 011 1zm-1 7a1 1 0 100-2H2a1 1 0 100 2h16z"/>
      </svg>
    </a>
  </div>

  <div class="menu" [style.width]="menuWidth">
    <div class="menu-content" [style.opacity]="menuTextOpacity">
      <a class="menu-closebtn" (click)="hideMenu()">&times;</a>
      <div class="menu-linkbtn"><a (click)="navigate('about')">Sobre mí</a></div>
      <div class="menu-linkbtn"><a (click)="navigate('projects')">Proyectos</a></div>
      <div class="menu-linkbtn"><a (click)="navigate('contact')">Contacto</a></div>
    </div>
  </div>

  <div class="router-outlet-content">
    <div class="router-outlet-content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</body>