:host {
  font-family: -apple-system, BlinkMacSystemFont, "Space Grotesk", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: x-large;
  color: white;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.toolbar {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
}

.toolbar-leftside {
  margin-top: -4px;
  margin-left: 10px;
}

.toolbar-leftside a:hover .menu-openbtn .line {
  background-color: #3ebdc9;
}

.toolbar-leftside .menu-openbtn {
  scale: 0.7;
}

.toolbar-leftside .menu-openbtn .line{
  margin: 8px auto;
  width: 50px;
  height: 5px;
  display: block;
  background-color: #ecf0f1;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.toolbar-leftside .menu-closebtn .line:nth-child(1){
  transform: translateY(13px) rotate(45deg);
}

.toolbar-leftside .menu-closebtn .line:nth-child(2){
  opacity: 0;
}

.toolbar-leftside .menu-closebtn .line:nth-child(3){
  transform: translateY(-13px) rotate(-45deg);
}

.toolbar-rightside {
  position: fixed;
  height: 80px;
  top: 0;
  right: 16px;
  color: #ffce32;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.toolbar-rightside .name {
  margin-top: -4px;
}

.toolbar-rightside a {
  margin-left: 15px;
}

.toolbar-rightside svg.github {
  height: 30px;
}

.toolbar-rightside svg.linkedin {
  height: 40px;
}

.intro {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 36px;
}

.menu-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Comfortaa', sans-serif;
  font-size: 32px;
  transition: opacity 0.15s ease-in-out;
  transition-delay: 0.1s;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0, 0.95);
  overflow: hidden;
  transition: 0.5s;
}

.menu a:not(:hover) {
  color: white;
}

.menu-content.active {
  transition-delay: 0s;
}

.menu-linkbtn a {
  margin: 4px;
  width: 300px;
  display: inline-block;
  border: 2px solid #292929;
  padding: 5px;
}

.menu .menu-closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.router-outlet-content {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.router-outlet-content-wrapper {
  width: 100%;
  max-width: 1500px;
  padding: 20px;
  box-sizing: border-box;
}

.intro-fade {
  -webkit-animation-name: intro-fade;
  animation-name: intro-fade;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes intro-fade {
  0% {opacity: 0;}
  33% {opacity: 1;}
  67% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes intro-fade {
  0% {opacity: 0;}
  33% {opacity: 1;}
  67% {opacity: 1;}
  100% {opacity: 0;}
}

@media (max-width: 767px) {
  .menu-content { 
    transition-delay: 0.07s;
  }
}