<div class="fade-in">
  <h1>Créditos</h1>
  <div>
    <ul>
      <li>Sitio desarrollado con <b><a href="https://angular.io/" target="_blank">Angular v16.2.12</a></b></li>      
      <li>Imágenes:
        <ul>
          <li><b><a href="https://www.flaticon.es/iconos-gratis/computadora-3d" title="computadora 3d íconos" target="_blank">Computadora 3d íconos creados por Freepik - Flaticon</a></b></li>
          <li><b><a href="https://www.flaticon.es/iconos-gratis/entregable" title="entregable íconos" target="_blank">Entregable íconos creados por pojok d - Flaticon</a></b></li>
          <li><b><a href="https://www.flaticon.es/iconos-gratis/no-hay-resultados" title="no hay resultados íconos" target="_blank">No hay resultados íconos creados por Freepik - Flaticon</a></b></li>
          <li><b><a href="https://www.flaticon.es/iconos-gratis/usuario" title="usuario íconos" target="_blank">Usuario íconos creados por Vectors Market - Flaticon</a></b></li>
        </ul>
      </li>
    </ul>
  </div>
</div>