<div class="content fade-in">
  <h1>Créditos</h1>
  <div>
    <ul>
      <li>Sitio desarrollado con <b><a href="https://angular.io/" target="_blank">Angular</a></b></li>      
      <li>Imágenes:
        <ul>
          <li><b><a href="https://www.flaticon.es/iconos-gratis/computadora-3d" title="computadora 3d iconos" target="_blank">Computadora 3d iconos creados por Freepik - Flaticon</a></b></li>
          <li><b><a href="https://www.flaticon.es/iconos-gratis/entregable" title="entregable iconos" target="_blank">Entregable iconos creados por pojok d - Flaticon</a></b></li>
          <li><b><a href="https://www.flaticon.es/iconos-gratis/no-hay-resultados" title="no hay resultados iconos" target="_blank">No hay resultados iconos creados por Freepik - Flaticon</a></b></li>
          <li><b><a href="https://www.flaticon.es/iconos-gratis/usuario" title="usuario iconos" target="_blank">Usuario iconos creados por Vectors Market - Flaticon</a></b></li>
        </ul>
      </li>
    </ul>
  </div>
</div>