.content {
  margin: 200px;
  display: flex;
  flex-direction: column;
}

.project-section {
  text-align: center;
}

.tag-container {
  display: flex;
  justify-content: center;
}

.tag {
  position: relative;
  padding: 0px 20px;
  height: 60px;
  background-color: #383838;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  border-radius: 5px;
}

.tag:hover {
  background-color: rgb(68, 206, 219);
  color: black;
}

.tag-selected {
  background-color: rgb(68, 206, 219);
  color: black;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  margin: 15px;
  width: 30vw;
  height: auto;
  flex: 0 0 calc(50% - 40px);
  background-color: white;
  color: black;
  border-radius: 15px;
  cursor: pointer;
}

.project:hover {
  background-color: rgb(68, 206, 219);
  color: black;
}

.project img {
  padding-top: 10px;
  width: 95%;
  border-radius: 20px;
}