<div class="fade-in">
  <h1>Proyectos</h1>
  <div class="block">
    <img src="assets/project-management.png">
    <p>Estos son algunos de mis proyectos. Estos trabajos abarcan, entre otros ámbitos, el desarrollo de aplicaciones web mediante diferentes lenguajes y frameworks, el procesamiento de datos en streaming en tiempo real, y el uso de machine learning para análisis de datos.</p>
  </div>

  <div class="project-section fade-in" *ngIf="projects !== null">
    <div class="tag-container">
      <div class="tag-title">
        <p>Etiquetas:</p>
      </div>
      <div class="tags">
        <a class="tag" (click)="unfilterProjects()" [class.tag-selected]="currentFilter === ''">
          Todos los proyectos
        </a>
        <a class="tag" *ngFor="let projectTag of projectTags" (click)="filterProjects(projectTag)" [class.tag-selected]="projectTag === currentFilter">
          {{ projectTag }}
        </a>
      </div>
    </div>

    <div class="filter-info">
      <p *ngIf="currentFilter === ''">Mostrando todos los proyectos</p>
      <p *ngIf="currentFilter !== ''">Mostrando proyectos filtrados por: {{ currentFilter }}</p>
    </div>

    <div class="project-container" [class.fade-in]="projectsFadeIn">
      <a class="project" *ngFor="let project of projectsFiltered" [routerLink]="'/project/' + project.shortTitle">
        <img [src]="'assets/projects/' + project.shortTitle.toString() + '/' + project.slides[0].imageFile">
        <div class="project-name">
          <p>{{ project.longTitle }}</p>
        </div>
      </a>
    </div>
  </div>
  <div class="wait" *ngIf="projects === null">
    <p>Espere por favor...</p>
  </div>
</div>