.project-section {
  text-align: center;
}

.tag-title p {
  margin-bottom: 5px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  position: relative;
  margin: 10px;
  padding: 0px 20px;
  min-height: 60px;
  background-color: #383838;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  user-select: none;
}

.tag:hover {
  background-color: rgb(62, 189, 201);
  color: black;
}

.tag-selected {
  background-color: rgb(62, 189, 201);
  color: black;
}

.filter-info p {
  margin-top: 40px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.project {
  width: 485px;
  background-color: white;
  color: black;
  border-radius: 15px;
  cursor: pointer;
}

.project:hover {
  background-color: rgb(68, 206, 219);
  color: black;
}

.project img {
  margin-top: 10px;
  width: 95%;
  border: 1px solid gray;
  border-radius: 3% / 5.33%;
}

.project-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project p {
  padding: 0 5px;
}

.wait {
  color: var(--titlecolor);
  text-align: center;
}

@media screen and (max-width: 700px) {
  h1 {
    text-align: center;
  }
  
  .block {
    flex-direction: column;
  }

  .block img {
    margin-top: 30px;
    padding-right: 0px;
  }

  .tag {
    min-height: 40px;
  }
}