:host {
  --tagcolor: rgb(56, 56, 56);
}

.project-section {
  text-align: center;
}

.tag-title p {
  margin-bottom: 5px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tag {
  position: relative;
  margin: 10px;
  padding: 0px 20px;
  min-height: 60px;
  background-color: var(--tagcolor);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  user-select: none;
}

.tag:hover {
  background-color: var(--linkcolor2);
  color: black;
}

.tag-selected {
  background-color: var(--linkcolor3);
  color: black;
}

.filter-info p {
  margin-top: 40px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.project {
  width: 485px;
  background-color: white;
  color: black;
  border-radius: 7px;
  cursor: pointer;
}

.project:hover {
  background-color: var(--linkcolor2);
  color: black;
}

.project img {
  margin-top: 10px;
  width: 95%;
  border: 1px solid gray;
  border-radius: 1% / 1.77%;
}

.project-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project p {
  padding: 0 5px;
}

.wait {
  color: var(--titlecolor);
  text-align: center;
}

@media screen and (max-width: 1200px) and (max-height: 700px) {
  .project {
    width: 300px;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    text-align: center;
  }
  
  .block {
    flex-direction: column;
  }

  .block img {
    margin-top: 30px;
    padding-right: 0px;
  }

  .tag {
    min-height: 40px;
  }
}

@media (hover: none) {
  .tag:hover {
    background-color: var(--tagcolor);
    color: white;
  }
  
  .project:hover {
    background-color: white;
    color: black;
  }
}