:root {
  font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --titlecolor: rgb(255, 206, 50);
  --linkcolor: rgb(98, 219, 68);
  --linkcolor2: rgb(96, 227, 240);
  --linkcolor3: rgb(190, 242, 247);
}

h1 {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
  font-style: normal;
  color: var(--titlecolor);
  border-bottom: 2px solid var(--titlecolor);
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  color: var(--titlecolor);
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--linkcolor);
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

a:hover {
  color: var(--linkcolor2);
  cursor: pointer;
}

a path {
  transition: fill 0.3s;
}

a:hover path {
  fill: var(--linkcolor2);
}

button {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  background-color: transparent;
  border: none;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

button:hover {
  cursor: pointer;
}

li {
  margin-bottom: 5px;
}

li ul {
  margin-top: 5px;
}

.block {
  display: flex;
  align-items: center;
}

.block img {
  height: 100px;
  padding-right: 30px;
}

.arrow {
  margin-right: 5px;
  font-size: 1rem;
}

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@media screen and (max-width: 700px) {
  :root,
  button {
    font-size: 17px;
  }
}

@media (hover: none) {
  a:hover {
    color: var(--linkcolor);
  }
  
  a:hover path {
    fill: white;
  }
}