:root {
  background: linear-gradient(180deg, rgba(32,39,105,1) 0%, rgba(49,0,128,1) 100%);
  background-attachment: fixed;
}

:root::before {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 50%;
  right: 0;
  z-index: -1;
  background: url('assets/3dcomputer-freepik.png') no-repeat center center;
  background-size: contain;
  opacity: 0.2;
  transform: translateY(-50%);
  content: "";
}

h1 {
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #ffce32;
  font-family: 'Comfortaa', sans-serif;
  border-bottom: 2px solid #ffce32;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  color: #ffce32;
  font-family: 'Comfortaa', sans-serif;
}

a {
  text-decoration: none;
  color: #62db44;
  transition: 0.3s;
}

a:hover {
  color: #3ebdc9;
  cursor: pointer;
}

a path {
  transition: 0.3s;
}

a:hover path {
  fill: #3ebdc9;
}

li {
  margin-bottom: 5px;
}

li ul {
  margin-top: 5px;
}

.block {
  display: flex;
  align-items: center;
}

.block img {
  height: 100px;
  padding-right: 30px;
}

.fade-in {
  -webkit-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* TEST ON FIREFOX */

body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

body::-moz-scrollbar-thumb {
  background: #888;
}

body::-moz-scrollbar-thumb:hover {
  background: #555;
}