:root {
  background: linear-gradient(0deg, rgba(4,0,32,1) 0%, rgba(63,0,163,1) 100%);
  background-attachment: fixed;
}

:root::before {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 50%;
  right: 0;
  z-index: -1;
  background: url('assets/3dcomputer-freepik.png') no-repeat center center;
  background-size: 70%;
  opacity: 0.2;
  transform: translateY(-50%);
  content: "";
}